/*
  Style sheet for Spiral Dancing Personal Website.
*/

/*
  body 
  {
    background: url(/assets/images/background.png);
    background-color: #F67D18;
    margin-left: 0.1em;
    margin-right: 0.1em;
  
  }
*/


      body
      {
        margin:40px auto;
        max-width:750px;
        line-height:1.6;
        font-family: sans-serif;
        font-size:18px;
        color:#444;
        padding:0 10px
      }

      h1,h2,h3
      {
        line-height:1.2
      }

